# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/backoffice-app/node_modules

# production
/backoffice-app/build

# logs
/backend-api/fe-api/logs
/backend-api/bo-api/logs
