:root {
  --danger-color: #d32f2f;
  --danger-color-bg: rgba(211, 47, 47, 0.12);
}

.remove-button {
  color: var(--danger-color) !important;
}
.remove-button:hover {
  background-color: var(--danger-color-bg) !important;
}

.label-multi-select {
  top: -13px !important;
}


